<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('src/header') %>
</head>
<body>
  <header>
    <%- include('src/nav') %>
  </header>

  <section class="hero">
    <div class="hero-text">
      <h1>Inteligencia Artificial en tu WhatsApp</h1>
      <a href="whatsapp://send?phone=+573046793853"><i class="ri-whatsapp-line"></i>Inicia Conversación</a>
    </div>
    
    <div class="hero-img">
      <img src="/lib/logo.jpg" alt="banner" />
      <h3>DrkBot es un innovador chatbot diseñado para llevar la conversación a un nivel superior en WhatsApp. No se trata solo de un chatbot común, DrkBot puede crear imágenes sorprendentes a partir de tus palabras, identificar canciones a través de mensajes de audio y transformar imágenes o GIFs que le envíes en divertidos stickers personalizados. Prepárate para una experiencia de chat única con DrkBot en WhatsApp, donde la creatividad y la diversión se unen en cada conversación.</h3>
    </div>
  </section>
  
  <div class="icons">
    <a href="#"><i class="ri-instagram-line"></i></a>
    <a href="#"><i class="ri-youtube-line"></i></a>
  </div>

  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="script.js"></script>
</body>
</html>