<meta charset="utf-8" />
<title>Chat GPT en tu WhatsApp</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link href="./css/22e429d6.css" rel="stylesheet">
<link href="./css/style.css" rel="stylesheet">
<!--
<link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png" />
<link rel="manifest" href="./site.webmanifest" />
		

<meta name="description" content="Experience the power of Artificial Intelligence - talk to Chat GPT on WhatsApp. Engage in conversations, get answers to questions, and explore exciting possibilities - try it for free!">
<meta property="og:url" content="https://kidix.ai">
<meta property="og:type" content="website">
<meta property="og:title" content="Chat GPT for your WhatsApp">
<meta property="og:description" content="Experience the power of Artificial Intelligence - talk to Chat GPT on WhatsApp. Engage in conversations, get answers to questions, and explore exciting possibilities - try it for free!">
<meta property="og:image" content="https://kidix.ai/cover.jpg">
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="kidix.ai">
<meta property="twitter:url" content="https://kidix.ai">
<meta name="twitter:title" content="Chat GPT for your WhatsApp">
<meta name="twitter:description" content="Experience the power of Artificial Intelligence - talk to Chat GPT on WhatsApp. Engage in conversations, get answers to questions, and explore exciting possibilities - try it for free!">
<meta name="twitter:image" content="https://kidix.ai/cover.jpg">
-->