<meta charset="utf-8" />
<title>DarkBox</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link href="./css/22e429d6.css" rel="stylesheet">
<link href="./css/style.css" rel="stylesheet">

<link rel="apple-touch-icon" sizes="180x180" href="/lib/logo.jpg" />
<link rel="icon" type="image/png" sizes="32x32" href="/lib/logo.jpg" />
<link rel="icon" type="image/png" sizes="16x16" href="/lib/logo.jpg" />

<meta name="description" content="Experimente el poder de la Inteligencia Artificial: hable con Chat GPT en WhatsApp. Participe en conversaciones, obtenga respuestas a preguntas y explore posibilidades interesantes.">
<meta property="og:url" content="https://dylan-ianvanh.replit.app">
<meta property="og:type" content="website">
<meta property="og:title" content="Chat GPT para tu WhatsApp">
<meta property="og:description" content="Experimente el poder de la Inteligencia Artificial: hable con Chat GPT en WhatsApp. Participe en conversaciones, obtenga respuestas a preguntas y explore posibilidades interesantes">
<meta property="og:image" content="https://dylan-ianvanh.replit.app/lib/logo.jpg">
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="dylan-ianvanh.replit.app">
<meta property="twitter:url" content="https://dylan-ianvanh.replit.app">
<meta name="twitter:title" content="Chat GPT para tu WhatsApp">
<meta name="twitter:description" content="Experimente el poder de la Inteligencia Artificial: hable con Chat GPT en WhatsApp. Participe en conversaciones, obtenga respuestas a preguntas y explore posibilidades interesantes">
<meta name="twitter:image" content="https://dylan-ianvanh.replit.app/lib/logo.jpg">